extends /layout/_application
block body
  div.wrapper-sound.wrapper-common(data-path="sound")
    p.msg タップで音が鳴るテスト
    div.icon_container
      - for (var i = 0; i < 3; i++){
        div.icon_row
          - for (var j = 0; j < 5; j++){
            p.icon(class="num#{i * 5 + j + 1}")
          - }
      - }
  div.modal_container-sound
    div.modal
      p.msg このコンテンツは音が出ます。<br>よろしいですか？
      p.ok
        button はい
  if !prod
    //
      include /include/embed/_debug
